/cache/
/wp-rocket-config/
/advanced-cache.php
/index.php
/uploads/
/upgrade-temp-backup/
/upgrade/
/languages/
/themes/oceanwp/
/themes/twentytwentyfour/
/themes/twentytwentythree/
/themes/twentytwentytwo/
/themes/index.php
/plugins/classic-editor/
/plugins/custom-css-js/
/plugins/download-monitor/
/plugins/elementor/
/plugins/elementor-pro/
/plugins/essential-addons-for-elementor-lite/
/plugins/fr_dpt_wp/
/plugins/gravityforms/
/plugins/mailpoet/
/plugins/sticky-header-oceanwp/
/plugins/the-events-calendar/
/plugins/the-events-calendar-shortcode-pro/
/plugins/thfo-intranet/
/plugins/void-elementor-post-grid-addon-for-elementor-page-builder/
/plugins/wordpress-importer/
/plugins/wp-rocket/
/plugins/wp-seopress/
/plugins/index.php
/plugins/media-sync/
