/cache/
/wp-rocket-config/
/advanced-cache.php
/index.php
/uploads/
/upgrade-temp-backup/
/upgrade/
/languages/
/themes/oceanwp/
/themes/twentytwentyfour/
/themes/twentytwentythree/
/themes/twentytwentytwo/
/themes/index.php
/plugins/classic-editor/
/plugins/custom-css-js/
/plugins/download-monitor/
/plugins/elementor/
/plugins/elementor-pro/
/plugins/essential-addons-for-elementor-lite/
/plugins/gravityforms/
/plugins/mailpoet/
/plugins/sticky-header-oceanwp/
/plugins/the-events-calendar/
/plugins/the-events-calendar-shortcode-pro/
/plugins/thfo-intranet/
/plugins/void-elementor-post-grid-addon-for-elementor-page-builder/
/plugins/wordpress-importer/
/plugins/wp-rocket/
/plugins/wp-seopress/
/plugins/index.php
/plugins/media-sync/
/plugins/antispam-bee/
/plugins/better-wp-security/
/plugins/essential-blocks/
/plugins/gravitysmtp/
/plugins/ocean-extra/
/plugins/redis-cache/
/plugins/thfo-intranet/
/plugins/thfo-mu-plugins/
/plugins/worker/
/plugins/wp-health/
/plugins/wp-piwik/
/plugins/wp-seopress-pro/
/themes/twentytwentyfive/
/debug.log
/mu-plugins/InitUmbrella.php
/mu-plugins/elementor-safe-mode.php
/themes/chretiens-ruraux/assets/css/.sass-cache/
/themes/cmr-2025/assets/css/.sass-cache/
/plugins/create-block-theme/
/plugins/testimonial-slider-and-showcase/
/plugins/ultimate-addons-for-gutenberg/
/plugins/advanced-custom-fields-pro/
